:root {
  /* Primary colors */
  --color-white: #ffffff;
  --color-lightcream: #fffefa;
  /* --color-blue: #0078d4; "The over-used blue" */
  --color-blue: #0067b5;
  --color-orange: #f59e0b;
  --color-darkblue: #1e3a8a;

  /* Supporting colors */
  --color-gray: #6b7280;
  --color-lightblue: #bedaff5e;
  --color-cream: #fdf6e3;
  --color-green: #10b981;
  --color-green-brown: #8a6e1eb3;
}
/* Outline all elements in red for debugging. */
/* * {
  outline: 1px solid red !important;
} */

body {
  background-color: var(--color-lightblue);
  color: var(--color-darkblue);
}
div.main-wrapper {
  display: grid;
  grid-template-columns: minmax(360px, 100%);
  grid-template-rows: minmax(10vh, 100%);
  gap: 10px;
}

/* Header styles */
header {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
  padding-left: 10px;
  padding-top: 10px;
  flex-wrap: wrap;
}
.search {
  font-size: 1.5rem;
}
button[data-dropdown="toggle"] {
  padding-top: 4px;
}
div.dropdown {
  margin-right: 40px;
  text-align: left;
}
ul.dropdown-list {
  position: absolute;
  z-index: 10; /* To display the dropdown on top of anything with a z-index below 10. */
}
input#search {
  height: 2rem;
  margin-left: 12px;
}
.header-top-line {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
.header-bottom-line {
  display: grid;
  grid-template-columns: auto 1fr auto 1fr;
  gap: 12px;
  font-size: 1.5rem;
}
.header-bottom-line .data[data-id="date"] {
  grid-column: span 2;
}
.header-bottom-line img {
  justify-self: end;
}

/* Card styles */
.main-content {
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  padding-top: 15px;
  letter-spacing: 1px;
}
@keyframes fadeIn {
  from {
    opacity: 0.2;
  }
  to {
    opacity: 1;
  }
}
.card-container {
  display: flex;
  flex-direction: column;
  gap: 15px;
  background-color: var(--color-white);
  height: max-content;
  min-width: 190px;
  max-width: 390px;
  border-radius: 12px;
  padding: 15px 15px 15px 15px;
  border-top: 6px solid var(--color-blue);
  box-shadow: 2px 2px 3px var(--color-green-brown);
  animation: fadeIn 400ms ease-in forwards; /* The animation is triggered when card-container is created. */
  margin: 0 5px;
}
a {
  text-decoration: none;
}
h2 {
  margin: 0;
}
.header-line {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 330px;
}
.weather-icon {
  width: 60px;
  height: 60px;
}
.card-icon {
  width: 25px;
  height: 25px;
}
.temp-container,
.info-line,
.info-container {
  display: flex;
  gap: 8px;
  align-items: center;
  flex-wrap: wrap;
}
.info-container {
  gap: 12px;
}
.temp {
  font-size: 2rem;
}
.conditions {
  font-size: 1.2rem;
}

/* Dropdown */
ul.dropdown-list.visible {
  margin-top: 2px;
  margin-bottom: 2px;
}
.dropdown {
  user-select: none;
}

/* Toggle switch styles */
/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: var(--color-orange);
}

input:focus + .slider {
  box-shadow: 0 0 1px var(--color-orange);
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
