:root {
  /* Primary colors */
  --color-white: #ffffff;
  --color-lightcream: #fffefa;
  /* --color-blue: #0078d4; "The over-used blue" */
  --color-blue: #0067b5;
  --color-orange: #f59e0b;
  --color-darkblue: #1e3a8a;

  /* Supporting colors */
  --color-gray: #6b7280;
  --color-lightblue: #bedaff;
  --color-cream: #fdf6e3;
  --color-green: #10b981;
}

body {
  background-color: var(--color-cream);
  color: var(--color-darkblue);
}
div.main-wrapper {
  display: grid;
  grid-template-columns: minmax(360px, 100%);
  grid-template-rows: minmax(10vh, 100%);
  gap: 10px;
}

header {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
}
header label {
  font-size: 1.5rem;
}
button[data-dropdown="toggle"] {
  padding-top: 4px;
}
div.dropdown {
  margin-right: 40px;
  text-align: right;
}
ul.dropdown-list {
  position: absolute;
  z-index: 10; /* To display the dropdown on top of anything with a z-index below 10. */
}

input#search {
  height: 2rem;
}

/* Card styles */
.main-content {
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
  align-content: flex-start;
  padding-top: 15px;
  letter-spacing: 1px;
}
@keyframes fadeIn {
  from {
    opacity: 0.5;
  }
  to {
    opacity: 1;
  }
}
.card-container {
  background-color: var(--color-white);
  height: max-content;
  min-width: 200px;
  max-width: 360px;
  border-radius: 6px;
  padding: 0 15px;
  border-left: 2px solid var(--color-orange);
  box-shadow: 1px 2px 3px rgba(197, 127, 8, 0.2);
  /* cursor: grab; */
  animation: fadeIn 300ms ease-in forwards; /* The animation is triggered when card-container is created. */
}
a {
  text-decoration: none;
}

/* Dropdown */
ul.dropdown-list.visible {
  margin-top: 2px;
  margin-bottom: 2px;
}
