@font-face {
  font-family: Lexend;
  src: url("./fonts/Lexend-VariableFont_wght.ttf");
}

:root {
  /* Primary colors */
  --color-white: #ffffff;
  --color-lightcream: #fffefa;
  /* --color-blue: #0078d4; "The over-used blue" */
  --color-blue: #0067b5;
  --color-orange: #f59e0b;
  --color-darkblue: #0067a3;
  --color-verydarkblue: #001944;

  /* Supporting colors */
  --color-gray: #6b7280;
  --color-lightblue: #bedaff5e;
  --color-cream: #fdf6e3;
  --color-green: #10b981;
  --color-green-brown: #8a6e1eb3;

  /* Font */
  --lexend:
    Lexend, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
/* Outline all elements in red for debugging. */
/* * {
  outline: 1px solid red !important;
} */

body {
  background-color: var(--color-lightblue);
  color: var(--color-verydarkblue);
}
div.main-wrapper {
  display: grid;
  grid-template-columns: minmax(360px, 100%);
  grid-template-rows: minmax(10vh, 100%);
  gap: 10px;
}

/* Header styles */
header {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
  padding-top: 10px;
  flex-wrap: wrap;
}
.page-title-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 160px;
  padding-top: 20px;
}
h1.page-title {
  position: relative;
  z-index: 10;
  color: var(--color-verydarkblue);
  font-family: var(--lexend);
  font-size: 2.2rem;
  pointer-events: none;
}
.oval-back {
  position: absolute;
  width: 360px;
  height: 130px;
  /* background: linear-gradient(
    45deg,
    rgba(116, 185, 255, 0.4),
    rgba(116, 185, 255, 0.2)
  ); */
  /* background: linear-gradient(
    45deg,
    rgba(227, 104, 9, 0.4),
    rgba(227, 104, 9, 0.2)
  ); */
  background: linear-gradient(
    45deg,
    rgba(245, 185, 82, 0.6),
    rgba(245, 185, 82, 0.2)
  );
  border-radius: 50%;
  transform: rotate(15deg);
  backdrop-filter: blur(10px);
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.1);
  z-index: 8;
}
.oval-fore {
  position: absolute;
  width: 320px;
  height: 140px;
  background: linear-gradient(
    -45deg,
    rgba(0, 103, 181, 0.4),
    rgba(0, 103, 181, 0.1)
  );
  /* background: linear-gradient(
    -45deg,
    rgba(0, 130, 181, 0.4),
    rgba(0, 130, 181, 0.2)
  ); */
  border-radius: 50%;
  transform: rotate(-15deg);
  backdrop-filter: blur(10px);
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.15);
  z-index: 9;
}
.search {
  font-size: 1.5rem;
}
button[data-dropdown="toggle"] {
  /* padding-top: 4px; */
  background: none;
  border-radius: 6px;
  border: none;
  padding: 5px 6px 2px 6px;
}
button[data-dropdown="toggle"]:hover,
button[data-dropdown="toggle"]:active {
  background: rgba(0, 103, 181, 0.2);
}
path {
  fill: var(--color-verydarkblue);
  stroke: var(--color-verydarkblue);
}
div.dropdown {
  margin-right: 20px;
  text-align: left;
}
.dropdown-list {
  position: absolute;
  z-index: 10;
  gap: 12px;
}
.dropdown-item {
  display: flex;
  gap: 8px;
  align-items: center;
  text-transform: uppercase;
  font-family: var(--lexend);
}
input#search {
  height: 2rem;
  border-radius: 6px;
  border: 1px solid var(--color-blue);
  padding-left: 5px;
  outline-offset: 0px;
}

.header-top-line {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
}
.header-bottom-line {
  display: grid;
  grid-template-columns: auto 1fr auto 1fr;
  row-gap: 12px;
  column-gap: 6px;
  font-size: 1.5rem;
  align-items: center;
}
.header-bottom-line .data[data-id="date"] {
  grid-column: span 3;
}
.header-bottom-line img.card-icon {
  width: 24px;
}

/* Card styles */
.main-content {
  display: flex;
  gap: 12px;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  padding-top: 15px;
  letter-spacing: 1px;
}
@keyframes fadeIn {
  from {
    opacity: 0.2;
  }
  to {
    opacity: 1;
  }
}
.card-container {
  display: flex;
  flex-direction: column;
  gap: 15px;
  background-color: var(--color-white);
  height: max-content;
  width: 350px;
  border-radius: 12px;
  padding: 15px 15px 15px 15px;
  border-top: 6px solid var(--color-blue);
  box-shadow: 2px 2px 3px var(--color-green-brown);
  animation: fadeIn 400ms ease-in forwards; /* The animation is triggered when card-container is created. */
}
a {
  text-decoration: none;
}
h2 {
  margin: 0;
}
.header-line {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 310px;
}
.weather-icon {
  width: 60px;
  height: 60px;
}
.card-icon {
  width: 25px;
  height: 25px;
  filter: invert(11%) sepia(21%) saturate(4756%) hue-rotate(196deg)
    brightness(96%) contrast(111%);
  /* Used css filter generator to imitate page title color */
}
.temp-container,
.info-line,
.info-container {
  display: flex;
  gap: 8px;
  align-items: center;
  flex-wrap: wrap;
}
.info-line .data[data-id="high"] {
  padding-left: 33px;
}

.info-line.wind {
  display: grid;
  grid-template-columns: auto 207px auto;
}
.hourly-btn {
  justify-self: right;
  width: 70px;
  height: 26px;
  border-radius: 8px;
  letter-spacing: 1px;
  background: #ccc;
  background: rgba(0, 103, 181, 0.15);
  border-radius: 6px;
  border: 1px solid var(--color-blue);
  color: inherit;
  font-weight: 600;
}
.hourly-btn:hover {
  background: rgba(0, 103, 181, 0.3);
}
.hourly-btn:active {
  background: rgba(0, 103, 181, 0.4);
}
.data[data-id="wind"] {
  justify-self: left;
}
.info-container {
  gap: 12px;
}
.temp {
  font-size: 2rem;
}
.conditions {
  font-size: 1.2rem;
}

/* Dropdown */
ul.dropdown-list.visible {
  margin-top: 2px;
  margin-bottom: 2px;
}
.dropdown {
  user-select: none;
}

/* Toggle switch styles */
/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 66px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--color-verydarkblue);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: rgba(245, 185, 82, 1);
}

input:focus + .slider {
  box-shadow: 0 0 1px rgba(245, 185, 82, 1);
}

input:checked + .slider:before {
  -webkit-transform: translateX(32px);
  -ms-transform: translateX(32px);
  transform: translateX(32px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

/* Hourly styles */
.hourly-container {
  display: none;
}
.hourly-container.visible {
  justify-content: center;
  display: flex;
  gap: 20px;
  background-color: var(--color-white);
  height: max-content;
  min-width: 190px;
  max-width: 330px;
  border-radius: 12px;
  padding: 15px 0;
  border-top: 6px solid var(--color-blue);
  box-shadow: 2px 2px 3px var(--color-green-brown);
  animation: fadeIn 400ms ease-in forwards;
  margin-left: 16px;
}
.hourly-container .chevron {
  border: none;
  background: var(--color-blue);
  opacity: 0.2;
  width: 60px;
}
.hourly-container .chevron:hover {
  opacity: 1;
  transition: 300ms;
}
.chevron[data-id="left"] {
  border-radius: 0 50% 50% 0;
}
.chevron[data-id="right"] {
  border-radius: 50% 0 0 50%;
}
.hour-card-list {
  display: flex;
  gap: 20px;
  overflow-x: scroll;
}
.hour-card-container {
  display: grid;
  grid-template-columns: auto 1fr;
  justify-items: center;
  padding-top: 10px;
  row-gap: 4px;
  animation: fadeIn 400ms ease-in forwards;
}
/* .hour-card-container.visible {
  display: grid;
  grid-template-columns: auto 1fr;
  justify-items: center;
  padding-top: 10px;
  row-gap: 4px;
  animation: fadeIn 400ms ease-in forwards;
} */
.hour-card-container [data-id="time"],
.hour-card-container [data-id="temp"],
.hour-card-container .weather-icon {
  grid-column: span 2;
}
.hour-card-container [data-id="time"] {
  font-weight: bold;
}
